<%- include("head.partial.ejs") %>


<main>
  <a href="/">Powrót na główną</a><br>
  <img src="/img/baner.svg" alt="Logo Trackly" class="logo">
  <p>Trackly to aplikacja stworzona z myślą o miłośnikach muzyki, którzy chcą mieć swoje ulubione albumy, utwory, artystów i playlisty zawsze pod ręką. <br>Dzięki Trackly możesz łatwo zarządzać swoimi muzycznymi preferencjami, dodawać nowe pozycje do ulubionych oraz dzielić się swoimi odkryciami z innymi użytkownikami.</p>

  <h2>Funkcje</h2>
  <ul>
    <li><strong>Dodawanie ulubionych:</strong> Dodawaj swoje ulubione albumy, utwory oraz artystów i oceniaj je</li>
    <li><strong>Playlisty:</strong> Twórz własne playlisty, dodawaj do nich ulubione utwory i dziel się nimi z innymi.</li>
    <li><strong>Statystyki:</strong> Sprawdzaj, które albumy, artyści i utwory są najczęściej dodawane do ulubionych przez społeczność Trackly.</li>
  </ul>

</main>


<%- include("foot.partial.ejs") %>