<%- include("head.partial.ejs") %>

<main>
  <a href="/">Powrót na główną</a>
  <h1 class="logo-container">
    Rejestracja do
    <img src="/img/baner.svg" alt="Logo Trackly" class="logo" style="width: auto; height: 1.8rem;">
  </h1>

  <% if (errors && errors.length > 0) { %>
    <ul class="errors">
      <% errors.forEach(function(error) { %>
        <li><%= error %></li>
      <% }) %>
    </ul>
  <% } %>

  <%- include("forms/register.ejs") %>
  <p>Masz już konto? <a href="/logowanie">Zaloguj się</a></p>
</main>

<%- include("foot.partial.ejs") %>

